In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("/content/US_Accidents_Dec21_updated.csv")

In [3]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [9]:
df.isnull().sum()

ID                          0
Severity                    0
Start_Time                  0
End_Time                    0
Start_Lat                   0
Start_Lng                   0
End_Lat                     0
End_Lng                     1
Distance(mi)                1
Description                 1
Number                   7172
Street                      1
Side                        1
City                        1
County                      1
State                       1
Zipcode                     7
Country                     1
Timezone                    7
Airport_Code                8
Weather_Timestamp          63
Temperature(F)             99
Wind_Chill(F)            7912
Humidity(%)               105
Pressure(in)               91
Visibility(mi)            125
Wind_Direction             63
Wind_Speed(mph)          1384
Precipitation(in)        8012
Weather_Condition         101
Amenity                     1
Bump                        1
Crossing                    1
Give_Way                    1
Junction                    1
No_Exit                     1
Railway                     1
Roundabout                  1
Station                     1
Stop                        1
Traffic_Calming             1
Traffic_Signal              1
Turning_Loop                1
Sunrise_Sunset              1
Civil_Twilight              1
Nautical_Twilight           1
Astronomical_Twilight       1
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8565 entries, 0 to 8564
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     8565 non-null   object
 1   Severity               8565 non-null   int64
 2   Start_Time             8565 non-null   object
 3   End_Time               8565 non-null   object
 4   Start_Lat              8565 non-null   float64
 5   Start_Lng              8565 non-null   float64
 6   End_Lat                8565 non-null   float64
 7   End_Lng                8564 non-null   float64
 8   Distance(mi)           8564 non-null   float64
 9   Description            8564 non-null   object
 10  Number                 1393 non-null   float64
 11  Street                 8564 non-null   object
 12  Side                   8564 non-null   object
 13  City                   8564 non-null   object
 14  County                 8564 non-null   object
 15  State                  8564 non-null   object
 16  Zipcode                8558 non-null   object
 17  Country                8564 non-null   object
 18  Timezone               8558 non-null   object
 19  Airport_Code           8557 non-null   object
 20  Weather_Timestamp      8502 non-null   object
 21  Temperature(F)         8466 non-null   float64
 22  Wind_Chill(F)          653 non-null    float64
 23  Humidity(%)            8460 non-null   float64
 24  Pressure(in)           8474 non-null   float64
 25  Visibility(mi)         8440 non-null   float64
 26  Wind_Direction         8502 non-null   object
 27  Wind_Speed(mph)        7181 non-null   float64
 28  Precipitation(in)      553 non-null    float64
 29  Weather_Condition      8464 non-null   object
 30  Amenity                8564 non-null   object
 31  Bump                   8564 non-null   object
 32  Crossing               8564 non-null   object
 33  Give_Way               8564 non-null   object
 34  Junction               8564 non-null   object
 35  No_Exit                8564 non-null   object
 36  Railway                8564 non-null   object
 37  Roundabout             8564 non-null   object
 38  Station                8564 non-null   object
 39  Stop                   8564 non-null   object
 40  Traffic_Calming        8564 non-null   object
 41  Traffic_Signal         8564 non-null   object
 42  Turning_Loop           8564 non-null   object
 43  Sunrise_Sunset         8564 non-null   object
 44  Civil_Twilight         8564 non-null   object
 45  Nautical_Twilight      8564 non-null   object
 46  Astronomical_Twilight  8564 non-null   object
dtypes: float64(13), int64(1), object(33)
memory usage: 3.1+ MB

In [11]:
df.describe(include='all')

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
count,8565,8565.000000,8565,8565,8565.000000,8565.00000,8565.000000,8564.000000,8564.000000,8564,...,8564,8564,8564,8564,8564,8564,8564,8564,8564,8564
unique,8565,NaN,7351,7348,NaN,NaN,NaN,NaN,NaN,4872,...,1,2,2,2,2,1,2,2,2,2
top,A-1,NaN,2016-03-23 14:44:43,2016-03-23 20:44:43,NaN,NaN,NaN,NaN,NaN,At I-605 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
freq,1,NaN,8,8,NaN,NaN,NaN,NaN,NaN,30,...,8564,8498,8463,8562,8224,8564,7098,7415,7669,7898
mean,NaN,2.252423,NaN,NaN,36.523518,-115.85632,36.523836,-115.856191,0.604285,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.555666,NaN,NaN,2.316040,11.93075,2.316594,11.931927,2.270635,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,2.000000,NaN,NaN,32.549300,-123.52616,32.545540,-123.526160,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,2.000000,NaN,NaN,34.046840,-121.96044,34.045590,-121.962180,0.135000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,2.000000,NaN,NaN,37.398280,-119.00310,37.398520,-119.003665,0.362000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,2.000000,NaN,NaN,38.087860,-117.82747,38.089030,-117.828508,0.568250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,4.000000,NaN,NaN,41.964290,-80.00527,41.964290,-79.958150,150.138000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,8565.000000,8565.000000,8565.00000,8565.000000,8564.000000,8564.000000,1393.000000,8466.000000,653.000000,8460.000000,8474.000000,8440.000000,7181.000000,553.000000
mean,2.252423,36.523518,-115.85632,36.523836,-115.856191,0.604285,8771.951902,63.258280,27.149464,57.557447,29.962285,9.414964,9.700822,0.020995
std,0.555666,2.316040,11.93075,2.316594,11.931927,2.270635,10585.598954,13.707815,17.736383,21.372968,0.172119,1.986539,4.860533,0.047146
min,2.000000,32.549300,-123.52616,32.545540,-123.526160,0.000000,1.000000,3.000000,-12.200000,4.000000,27.280000,0.200000,0.000000,0.000000
25%,2.000000,34.046840,-121.96044,34.045590,-121.962180,0.135000,1698.000000,57.200000,17.000000,43.000000,29.890000,10.000000,5.800000,0.000000
50%,2.000000,37.398280,-119.00310,37.398520,-119.003665,0.362000,4898.000000,64.000000,25.500000,59.000000,29.960000,10.000000,9.200000,0.000000
75%,2.000000,38.087860,-117.82747,38.089030,-117.828508,0.568250,12126.000000,71.100000,34.400000,75.000000,30.040000,10.000000,12.700000,0.020000
max,4.000000,41.964290,-80.00527,41.964290,-79.958150,150.138000,77999.000000,102.900000,101.000000,100.000000,30.620000,30.000000,39.100000,0.370000

In [15]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numeric_df = df.select_dtypes(include=numerics)
len(numeric_df.columns)

14

In [16]:
len(df.columns)

47

In [20]:
object_columns_length=len(df.columns) - len(numeric_df.columns)

In [19]:
object_columns

33

In [22]:
catagorical = ['object']
catagorical_df = df.select_dtypes(include=catagorical)

In [24]:
catagorical_df.head()

,ID,Start_Time,End_Time,Description,Street,Side,City,County,State,Zipcode,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2016-02-08 00:37:08,2016-02-08 06:37:08,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,Outerbelt E,R,Dublin,Franklin,OH,43017,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2016-02-08 05:56:20,2016-02-08 11:56:20,At OH-4/OH-235/Exit 41 - Accident.,I-70 E,R,Dayton,Montgomery,OH,45424,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2016-02-08 06:15:39,2016-02-08 12:15:39,At I-71/US-50/Exit 1 - Accident.,I-75 S,R,Cincinnati,Hamilton,OH,45203,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2016-02-08 06:51:45,2016-02-08 12:51:45,At Dart Ave/Exit 21 - Accident.,I-77 N,R,Akron,Summit,OH,44311,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,2016-02-08 07:53:43,2016-02-08 13:53:43,At Mitchell Ave/Exit 6 - Accident.,I-75 S,R,Cincinnati,Hamilton,OH,45217,...,False,False,False,False,False,False,Day,Day,Day,Day