In [1]:
import pandas as pd

# 1 working with csv with local host

In [2]:
df=pd.read_csv("tips.csv")

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# 2 Opening a csv file from an URL

In [5]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

# 3 Sep Parameter (tsv=tab separated value)

In [15]:
import requests
from io import StringIO

url = "https://github.com/campusx-official/100-days-of-machine-learning/blob/main/day15%20-%20working%20with%20csv%20files/movie_titles_metadata.tsv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)



# error_bad_lines=False because we want to remove bad lines from the dataset


# tsv file working in local host .... if there doesn't show any headinf we have to create them in a list like below 
df1=pd.read_csv(data,sep='\t',error_bad_lines=False,names=['sno','name','release_year','rating','votes','genres'])
df1.head()

,sno,name,release_year,rating,votes,genres
0,<!DOCTYPE html>,NaN,NaN,NaN,NaN,NaN
1,"<html lang=""en"" data-color-mode=""auto"" data-li...",NaN,NaN,NaN,NaN,NaN
2,<head>,NaN,NaN,NaN,NaN,NaN
3,"<meta charset=""utf-8"">",NaN,NaN,NaN,NaN,NaN
4,"<link rel=""dns-prefetch"" href=""https://githu...",NaN,NaN,NaN,NaN,NaN

# 4 Index_col parameter

In [ ]:

# we can make our id column into undex column sothat the default index column does not show 
df2=pd.read_csv('aug_train.csv',index_col='enrollee_id')

# 5 Header parameter

In [ ]:
# we face this problem many times . it occurs when our heading becomes our first row 
df3=pd.read_csv('test.csv',header=1)

# 6 use_cols parameter

In [ ]:
# when  our  dataset has many column but we do not need all thay why we use 'usecols' for the specific columns
df4=pd.read_csv('aug_train.csv',usecols=['enrollee_id','gender','education_level'])

# 7 Squeeze parameters

In [ ]:
# it is rearly happen actually when we need only one column we use this and when squeeze=True this column changes into series not dataframe 
df5=pd.read_csv('aug_train.csv',usecols=['gender'],squeeze=True)

# 8 Skiprows/nrows Parameter

In [ ]:
# when we dont need all the rows in a dataset 
df6=pd.read_csv('aug_train.csv',nrows=100)

# 9 Encoding parameter

In [ ]:
 # when our dataset is not utf8 encoding and when we face unicodedecode error 
df7=pd.read_csv('zomato.csv',encoding='latin-1')

# 10 Skip bad lines

In [ ]:
# error_bad_lines=False because we want to remove bad lines from the dataset 
# when perser error occurs
df8=pd.read_csv('BX-Books.csv', sep=';', encoding="latin-1",error_bad_lines=False)

# 11 dtypes parameter

In [ ]:
# by using it we can change column type of a dataset 
pd.read_csv('aug_train.csv',dtype={'target':int}).info()

# 12 Handling Dates

In [ ]:
# chnaging date column into date type beacuse it is actually show object in pandas dataframe
pd.read_csv('IPL Matches 2008-2020.csv',parse_dates=['date']).info()