In [1]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp38-cp38-win32.whl size=247946 sha256=cdcc3925f1480c183e271f4f65e15e72ade8a8e3f513b7179c8c21232e32b836
  Stored in directory: c:\users\hasan ahmed\appdata\local\pip\cache\wheels\57\e4\98\5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector

In [5]:
import mysql.connector
import pandas as pd

In [6]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [7]:
df = pd.read_sql_query("SELECT * FROM countrylanguage",conn)

In [8]:
df.head()

  CountryCode    Language IsOfficial  Percentage
0         ABW       Dutch          T         5.3
1         ABW     English          F         9.5
2         ABW  Papiamento          F        76.7
3         ABW     Spanish          F         7.4
4         AFG     Balochi          F         0.9