In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=7e4984a112cce2f8cf8051170e2a6495&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
df = pd.DataFrame()

In [5]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=7e4984a112cce2f8cf8051170e2a6495&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [6]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,77.198,8.7,21747
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,21.597,8.7,3706
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,94.789,8.7,16192
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-11-30,44.061,8.6,12917
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,1974-12-20,58.704,8.6,9764
...,...,...,...,...,...,...,...
8555,376865,High Life,A father and his daughter struggle to survive ...,2018-09-26,15.022,5.8,859
8556,85038,Welcome to the North,"Now in the Far North (i.e. Milan!), Alberto ha...",2012-01-18,9.228,5.8,1185
8557,54540,Beverly Hills Chihuahua 2,Puppy mayhem turns the lives of newlywed Chihu...,2011-02-01,22.197,5.8,313
8558,215379,Young Ones,"In a future where water is scarce, a farmer de...",2014-06-28,8.776,5.8,248
8559,34803,Death at a Funeral,Aaron's father's funeral is today at the famil...,2010-04-15,16.416,5.8,774

In [7]:
df.shape

(8560, 7)

In [8]:
df.to_csv('top rating movies.csv')

# links

In [9]:
'''1.TMDB:https://www.themoviedb.org/
2. RapidAPI : https://rapidapi.com/collection/list-of-free-apis 
3. JSON Viewer: http://jsonviewer.stack.hu/ '''

'1.TMDB:https://www.themoviedb.org/\n2. RapidAPI : https://rapidapi.com/collection/list-of-free-apis \n3. JSON Viewer: http://jsonviewer.stack.hu/ '